* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px grey;
}

a:link,
a:visited {
    color: steelblue;
}

a:hover,
a:active {
    color: maroon;
}

aside a {
    font-weight: bold;
}

h4 {
    font-weight: normal;
}