* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(216, 230, 248);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    border: 3px solid steelblue;
    box-shadow: 3px 3px 12px 12px grey;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to left, rgb(146, 182, 212), white);
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 5px grey;
}

a:link,
a:visited {
    color: steelblue;
}

a:hover,
a:active {
    color: maroon;
}

aside a {
    font-weight: bold;
}

aside a:visited {
    color: maroon;
}

/* ------------------------------------------------------
Horizontal Nav Menu
---------------------------------------------------------- */
#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a {
    text-align: left;
    padding-left: .5em;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu a:hover {
    color: black;
    background-color: rgb(199, 217, 231);
}

/* ------------------------------------------------------
Vertical Nav Menu
---------------------------------------------------------- */

#nav_list h2 {
    margin: 25px 0;
    text-align: center;
    color: maroon;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 5px;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(196, 216, 233);
    padding: .5em;
    color: black;
}

#nav_list a:hover {
    background-color: steelblue;
    color: white;
}

/* ------------------------------------------------------
Main
---------------------------------------------------------- */

main {
    display: flex
}

section {
    max-width: 70%;
}

aside {
    width: 30%;
}

h1 {
    margin-left: 3%;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 5% 20px;
    border-left: 4px solid steelblue;
    background-color: rgb(218, 228, 236);
    padding: 7px;
    border-radius: 0 5px 5px 0;
}

section h2,
section h4 {
    margin: 0 3% 20px;
}

h4 {
    font-weight: bold;
}


/* aside h2 {
    margin-top: 25px;
    padding-left: 3%;
    color: maroon;
    text-align: center;
}

aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.6;
} */

footer {
    color: white;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}